- name: functions
  hosts: localhost
  connection: local
  become: yes
  tasks:
  - name: print the list of animals
    ansible.builtin.debug:
      msg: "hello your animal is {{ dog, fox, cow, cat, ox, bull, lion, tiger, zebra, monkey, deer | split(',') }}"
      